body {
  font-family: "Inter", sans-serif;
  background-color: darkslategray;
}

h5 {
  font-size: clamp(0.5rem, 0.8rem + 0.75vw, 1.2rem);
}

body {
  background-color: #222222;
  color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
}

a {
  color: #00bcd4;
}
a:hover {
  color: #08e3ff;
}

.filter-capsule {
  background-color: #363636;
  padding: 0.3rem 1rem;
  border-radius: 50rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
  white-space: nowrap;
  font-weight: 900;
}
.filter-capsule__icon {
  font-size: 0.1rem;
  padding-left: 0.5rem;
}

.fa {
  font-size: 2rem;
}

.icon-button {
  background-color: transparent;
  color: #ffffff;
  border-radius: 0.5rem 1.45rem;
  padding: 0.5rem 1rem;
  font-size: clamp(0.75rem, 0.6rem + 0.8vw, 1rem);
  font-weight: 700;
  border: none;
}

/* Dropdown Button */
.dropbtn {
  background-color: #222222;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #00bcd4;
  font-weight: bold;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3d3d3d;
}

.siteHeader {
  /**
     * Lay out the children of this container with
     * flexbox, which is horizontal by default.
     */
  display: flex;
  /**
     * Make the container put as much space as possible
     * between its children, with the children at either
     * end laying flush against the container's edges.
     */
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #222222;
}

.siteHeader__section1 {
  /**
       * Lay out the children of this container with
       * flexbox.
       */
  display: flex;
  /**
       * Align the children in the center, along
       * the main axis. By default the children will
       * align along their top edges.
       */
  align-items: center;
}

.siteHeader__item {
  padding: 5px 15px;
  font-size: 12px;
}

.siteHeader__item + .siteHeader__item {
  margin-left: 5px;
}

.siteHeader__item.is-site-header-item-selected {
  color: #FFFFFF;
  background-color: #415F69;
  border-radius: 4px;
}

.siteHeaderLogo {
  font-size: 20px;
  line-height: 0;
  color: white;
}

.siteHeaderButton {
  cursor: pointer;
  color: #D9E9EF;
}

input[type=checkbox] {
  display: none;
  visibility: hidden;
}

.bar {
  display: block;
  position: relative;
  cursor: pointer;
  width: 50px;
  height: 40px;
}

.bar span {
  position: absolute;
  width: 45px;
  height: 7px;
  background: #00bcd4;
  border-radius: 100px;
  display: inline-block;
  transition: 0.3s ease;
  left: 0;
}

.bar span.top {
  top: 0;
}

.bar span.middle {
  top: 17px;
}

.bar span.bottom {
  bottom: 0;
}

input[type]:checked ~ span.top {
  transform: rotate(45deg);
  transform-origin: top left;
  width: 48px;
  left: 5px;
}

input[type]:checked ~ span.bottom {
  transform: rotate(-45deg);
  transform-origin: top left;
  width: 48px;
  bottom: -1px;
  box-shadow: #58e9fc;
}

input[type]:checked ~ span.middle {
  transform: translateX(-20px);
  opacity: 0;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  margin-top: 1rem;
  background-color: #363636;
  border-radius: 1rem 3rem;
  min-width: 13.5rem;
  max-width: 15rem;
  border-right: 0.5rem solid #00bcd4;
  border-bottom: 0.5rem solid #00bcd4;
}
.product-card__image {
  width: 100%;
  background-color: #525252;
  border-radius: 0.6666666667rem 2rem;
  aspect-ratio: 1/1.1;
}
.product-card__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.product-card__price {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.6rem;
  top: -1.6rem;
  padding: 0.5rem 1rem;
  margin: 0 1.2rem;
  background-color: #222222;
  color: #00bcd4;
  font-size: 1.1rem;
  font-weight: 900;
  border-radius: 1rem 3rem;
  border: 0.2rem solid #00bcd4;
}
.product-card__title {
  position: relative;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 0.3rem;
  font-weight: 600;
  font-size: 1.3rem;
  text-align: center;
  top: -1.6rem;
}
.product-card button {
  margin-top: -0.6rem;
  padding: 0.5rem 2rem;
  font-size: 1.1rem;
}

.button {
  border-radius: 1rem 3rem;
  background-color: #00bcd4;
  color: #222222;
  width: 120px;
  height: 40px;
  border: none;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
}

.button:hover {
  transform: scale(1.2);
  /* added transform property */
}

.text-button {
  background-color: #00bcd4;
  color: #222222;
  border-radius: 0.5rem 1.45rem;
  padding: 0.5rem 1rem;
  font-size: clamp(0.75rem, 0.6rem + 0.8vw, 1rem);
  font-weight: 700;
  border: none;
}

.button-light {
  border-radius: 1rem 3rem;
  background-color: #222222;
  color: #ffffff;
  font-weight: lighter;
  width: auto;
  height: auto;
  text-align: center;
  border: 1.5px solid #ffffff;
  cursor: pointer;
}

.field {
  border-radius: 1rem 3rem;
  background-color: #222222;
  color: #00bcd4;
  width: 300repx;
  height: 25px;
  text-align: center;
  border: 1.5px solid #00bcd4;
}

.signin {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 100px;
}
.signin__column1__welcome {
  display: flex;
  justify-content: center;
  align-items: center;
}
.signin__column1__welcome h1 {
  margin-bottom: 50px;
  font-weight: bold;
  color: #00bcd4;
  font-size: 35px;
}
.signin__column1__field {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.signin__column1__forgot {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 100px;
}
.signin__column1__forgot h4 {
  color: #00bcd4;
  font-size: 12px;
}
.signin__column1__button {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  align-items: flex-end;
}
.signin__image {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  text-align: right;
  /* added */
}
.signin__image .circle1 {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #E53FA3;
  bottom: 50%;
  left: 35%;
  transform: translate(-350%, -50%);
}
.signin__image .circle2 {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #F3ED39;
  bottom: 70%;
  left: 35%;
  transform: translate(-230%, -20%);
}
.signin__image .circle4 {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #E53FA3;
  bottom: 0%;
  right: 100%;
  transform: translate(50%, 50%);
}
.signin__image .circle5 {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #6636ED;
  top: 15%;
  right: 2.5%;
  transform: translate(25%, -25%);
}
.signin__image .circle6 {
  position: absolute;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #F3ED39;
  top: 50%;
  right: 0%;
  transform: translate(50%, -50%);
}
.signin__image .circle7 {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #638CF4;
  bottom: 20%;
  left: -5%;
  transform: translate(50%, 25%);
}
.signin__image .circle8 {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #E53FA3;
  bottom: 20%;
  right: 0%;
  transform: translate(-50%, -55%);
}
.signin__image img {
  width: 35vw;
  border-radius: 50px;
  margin-right: 55px;
}

.signup {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 100px;
  padding-right: 2rem;
}
.signup__column1__now {
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup__column1__now h1 {
  margin-bottom: 5px;
  font-weight: bold;
  color: #00bcd4;
  font-size: 35px;
}
.signup__column1__later {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.signup__column1__later h1 {
  margin-bottom: 40px;
  margin-right: 50px;
  font-weight: bold;
  color: #00bcd4;
  font-size: 30px;
}
.signup__column1__field {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.signup__column1__button {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  align-items: flex-end;
}
.signup__image {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  text-align: right;
  /* added */
}
.signup__image .circle1 {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #E53FA3;
  bottom: 50%;
  left: 35%;
  transform: translate(-350%, -50%);
}
.signup__image .circle2 {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #F3ED39;
  bottom: 70%;
  left: 35%;
  transform: translate(-230%, -20%);
}
.signup__image .circle4 {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #E53FA3;
  bottom: 0%;
  right: 100%;
  transform: translate(50%, 50%);
}
.signup__image .circle5 {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #6636ED;
  top: 15%;
  right: 2.5%;
  transform: translate(25%, -25%);
}
.signup__image .circle6 {
  position: absolute;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #F3ED39;
  top: 50%;
  right: 0%;
  transform: translate(50%, -50%);
}
.signup__image .circle7 {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #638CF4;
  bottom: 20%;
  left: -5%;
  transform: translate(50%, 25%);
}
.signup__image .circle8 {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #E53FA3;
  bottom: 20%;
  right: 0%;
  transform: translate(-50%, -55%);
}
.signup__image img {
  width: 35vw;
  border-radius: 50px;
  margin-right: 55px;
}

.products-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}
@media (min-width: 43.75em) {
  .products-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 56.25em) {
  .products-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 90em) {
  .products-list {
    grid-template-columns: repeat(6, 1fr);
  }
}

.filters {
  position: sticky;
  top: 0;
  padding-top: 1rem;
  padding-left: 1rem;
  background-color: #222222;
  box-shadow: 0 0.7rem 1rem #222222;
}
.filters__icon {
  position: absolute;
}
.filters__row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  overflow-x: auto;
  margin-left: 3rem;
  padding-bottom: 0.5rem;
}

.product-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
}
@media (min-width: 56.25em) {
  .product-details {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
}
.product-details__image {
  position: relative;
  background-color: #525252;
  border-radius: 1rem 3rem;
  max-height: 65vh;
}
.product-details__image img {
  max-height: 65vh;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1/0.75;
}
.product-details__label {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.5rem 1rem;
  margin: 1rem 2rem;
  background-color: #00bcd4;
  color: #222222;
  font-size: 1.2rem;
  font-weight: 900;
  border-radius: 1rem 3rem;
  border: 0.16rem solid #222222;
}
.product-details__title {
  width: 95%;
  margin-top: 1rem;
  margin-bottom: 0.3rem;
  font-weight: 900;
  text-align: center;
}
.product-details__review {
  width: 95%;
  font-weight: 400;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.product-details__review-stars {
  margin-right: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: goldenrod;
  gap: 0.2rem;
}
.product-details__review-details {
  font-size: 1.1rem;
  color: #525252;
}
.product-details__buy {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 3rem;
  gap: 1.1rem;
  margin-top: 1rem;
}
.product-details__buy-text {
  font-size: 1.4rem;
  font-weight: 900;
}
.product-details__more {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
.product-details__more-share {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  height: 3rem;
  gap: 1rem;
  border: 0.2rem solid #00bcd4;
  background-color: #222222;
  color: #00bcd4;
  flex: 1;
}
.product-details__more-share:hover {
  background-color: #363636;
  color: #58e9fc;
  border-color: #58e9fc;
}
.product-details__more-wishlist {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  height: 3rem;
  gap: 1rem;
  border: 0.2rem solid #00bcd4;
  background-color: #222222;
  color: #00bcd4;
  flex: 2;
}
.product-details__more-wishlist:hover {
  background-color: #363636;
  color: #58e9fc;
  border-color: #58e9fc;
}

.similar {
  width: 95%;
  margin: 1rem;
}
.similar__text {
  font-size: 1.6rem;
  font-weight: 900;
  text-align: start;
}
.similar__products {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  padding-bottom: 0.5rem;
  overflow-x: auto;
}

.table {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 1rem 0;
  width: 95%;
}
.table__header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 0.1rem 0;
  border-radius: 1rem 3rem;
  background-color: #363636;
  height: 2rem;
  background-color: #00bcd4;
  margin-top: 0;
  margin-bottom: 0.6rem;
}
.table__header__title {
  display: flex;
  align-items: center;
  flex: 1;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: left;
  margin: 0 0.5rem;
  height: 100%;
  font-weight: 900;
  border-right: 0.2rem solid #222222;
  margin-left: 1rem;
  color: #00bcd4;
}
.table__header__value {
  display: flex;
  align-items: center;
  flex: 1;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: left;
  margin: 0 0.5rem;
  height: 100%;
}
.table__header__title, .table__header__value {
  color: #222222;
}
.table__header__title {
  border-right: 0.2rem solid #222222;
}
.table__row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 0.1rem 0;
  border-radius: 1rem 3rem;
  background-color: #363636;
  height: 2rem;
}
.table__row__title {
  display: flex;
  align-items: center;
  flex: 1;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: left;
  margin: 0 0.5rem;
  height: 100%;
  font-weight: 900;
  border-right: 0.2rem solid #222222;
  margin-left: 1rem;
  color: #00bcd4;
}
.table__row__value {
  display: flex;
  align-items: center;
  flex: 1;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: left;
  margin: 0 0.5rem;
  height: 100%;
}

.explore-app {
  background-color: #4e0531;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 56.24875em) {
  .explore-app {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 89.99875em) {
  .explore-app {
    grid-template-columns: 1fr;
  }
}
.explore-app__column-one {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.explore-app__column-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.explore-app__catch {
  color: #ffffff;
  display: flex;
  align-items: center;
}
.explore-app__button {
  position: relative;
  font-size: 1.2em;
  padding: 0.7em 1.4em;
  background-color: #e53fa3;
  text-decoration: none;
  border: 0.5rem 0.5rem;
  border-radius: 0.5em;
  color: #dedede;
  box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.3);
}
.explore-app__button::before {
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  top: 0;
  left: 0;
  background: linear-gradient(135deg, rgb(33, 33, 33) 0%, rgb(33, 33, 33) 50%, #4e0531 50%, #4e0531 60%);
  border-radius: 0 0 0.5em 0;
  box-shadow: 0.2em 0.2em 0.2em rgba(26, 8, 8, 0.3);
  transition: 0.3s;
}
.explore-app__button:hover::before {
  width: 1.6em;
  height: 1.6em;
}
.explore-app__button:active {
  box-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.3);
  transform: translate(0.1em, 0.1em);
}
.explore-app__phrase {
  color: #ffffff;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #ffffff;
  /* Hide the default checkbox */
  /* Create a custom checkbox */
  /* When the checkbox is checked, add a blue background */
  /* Create the checkmark/indicator (hidden when not checked) */
  /* Show the checkmark when checked */
  /* Style the checkmark/indicator */
}
@media (max-width: 56.24875em) {
  .about {
    grid-template-columns: 1fr;
  }
}
.about .element-paragraph {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.about__column-two {
  display: grid;
  justify-content: left;
}
.about__image {
  padding: 1rem;
}
.about .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.about .container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 25px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.about .checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 1.3em;
  width: 1.3em;
  background: black;
  border-radius: 50px;
  transition: all 0.7s;
  --spread: 20px;
}
.about .container input:checked ~ .checkmark {
  background: black;
  box-shadow: -10px -10px var(--spread) 0px #5B51D8, 0 -10px var(--spread) 0px #833AB4, 10px -10px var(--spread) 0px #E1306C, 10px 0 var(--spread) 0px #FD1D1D, 10px 10px var(--spread) 0px #F77737, 0 10px var(--spread) 0px #FCAF45, -10px 10px var(--spread) 0px #FFDC80;
}
.about .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.about .container input:checked ~ .checkmark:after {
  display: block;
}
.about .container .checkmark:after {
  left: 0.45em;
  top: 0.25em;
  width: 0.25em;
  height: 0.5em;
  border: solid #f0f0f0;
  border-width: 0 0.15em 0.15em 0;
  transform: rotate(45deg);
}

.testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #FAEFF8;
}
@media (max-width: 56.24875em) {
  .testimonials {
    grid-template-columns: 1fr;
  }
}

body {
  margin: 0;
}

.filter {
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-color: #00bcd4;
}
.filter__section1 {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
  background-color: #222222;
  height: 50vh;
  width: 100vw;
}
.filter__section1__column1 {
  justify-self: center;
}
.filter__section1__column1 h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}
.filter__section1__column1__buttons {
  display: grid;
  grid-gap: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 10px;
  justify-items: center;
}
.filter__section1__column1__buttons button {
  align-self: start;
}
.filter__section1__column2 {
  justify-self: center;
}
.filter__section1__column2 h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}
.filter__section1__column2__buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 10px;
  justify-items: center;
}
.filter__section1__column2__buttons button {
  align-self: start;
}
.filter__section2 {
  padding-left: 10px;
  background-color: #181818;
  height: 50vh;
  width: 100vw;
}
.filter__section2__price h4 {
  font-weight: lighter;
  display: inline-block;
  vertical-align: middle;
  color: #00bcd4;
}
.filter__section2__price__options {
  margin-left: 20px;
  display: inline-block;
  vertical-align: middle;
}
.filter__section2__autonomy h4 {
  font-weight: lighter;
  display: inline-block;
  vertical-align: middle;
  color: #00bcd4;
}
.filter__section2__autonomy__options {
  margin-left: 20px;
  display: inline-block;
  vertical-align: middle;
}
.filter__section2__color {
  display: flex;
  align-items: center;
}
.filter__section2__color h4 {
  font-weight: lighter;
  color: #00bcd4;
}
.filter__section2__color__options {
  display: flex;
  overflow-x: auto;
  margin-left: 20px;
  white-space: nowrap;
}
.filter__section2__model {
  display: flex;
  align-items: center;
}
.filter__section2__model h4 {
  font-weight: lighter;
  display: inline-block;
  color: #00bcd4;
}
.filter__section2__model__options {
  display: flex;
  overflow-x: auto;
  margin-left: 20px;
  overflow-x: auto;
  white-space: nowrap;
}
.filter__section2 .button {
  display: block;
  margin: auto;
  margin-top: 15px;
}

/*hide the inputs/checkmarks and submenu*/
input, ul.submenu {
  display: none;
}

/*position the label*/
label {
  position: relative;
  display: block;
  cursor: pointer;
}

/*show the submenu when input is checked*/
input:checked ~ ul.submenu {
  display: block;
}

.home {
  background-color: pink;
}

.menu-btn {
  position: absolute;
  z-index: 1;
  right: 1rem;
  top: 1rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
}
.menu-btn__burger {
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 28px;
  height: 3px;
  background: #E53FA3;
}
.menu-btn__burger::before {
  content: "";
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3px;
  background: #E53FA3;
}
.menu-btn__burger::after {
  content: "";
  position: absolute;
  top: 8px;
  width: 28px;
  height: 3px;
  background: #E53FA3;
}

body {
  background: #222222;
  color: #ffffff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
  margin: 0 min(1rem, 2%);
}

main {
  height: 100%;
  width: 100%;
}

footer {
  font-size: 1rem;
  position: fixed;
  bottom: 0.4rem;
  right: 1rem;
  text-align: right;
  padding: 1rem;
  color: #00bcd4;
}

button {
  background: #00bcd4;
  color: #222222;
  border: none;
  border-radius: 1rem 3rem;
  padding: 0.5rem 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
button:hover {
  background: #58e9fc;
}/*# sourceMappingURL=main.css.map */