body {
  font-family: "Inter", sans-serif;
  background-color: darkslategray;
}

h5 {
  font-size: clamp(0.5rem, 0.8rem + 0.75vw, 1.2rem);
}

.underlined_text {
  text-decoration: underline;
}

:root {
  --primary-color: #00bcd4;
  --accent-color: #58e9fc;
  --background-color: #222222;
  --header-color: #181818;
  --text-color: #EEEEEE;
  --product-card-color: #363636;
  --image-background-color: #525252;
}

:root[data-theme="light/red-lighter"] {
  --primary-color: #E43232;
  --accent-color: #fc5858;
  --background-color: #fde0e0;
  --header-color: #f7d0d0;
  --text-color: #5a1c41;
  --product-card-color: #eea2a2;
  --image-background-color: #f07a7a;
}

:root[data-theme="light/red-darker"] {
  --primary-color: #961b1b;
  --accent-color: #fc5858;
  --background-color: #fde0e0;
  --header-color: #f7d0d0;
  --text-color: #5a1c41;
  --product-card-color: #d89595;
  --image-background-color: #d47272;
}

:root[data-theme="light/orange-lighter"] {
  --primary-color: #F39628;
  --accent-color: #fcbe58;
  --background-color: #fff0e0;
  --header-color: #f7d0d0;
  --text-color: #5a1c41;
  --product-card-color: #f7c2a2;
  --image-background-color: #f7a272;
}

:root[data-theme="light/orange-darker"] {
  --primary-color: #E45D32;
  --accent-color: #fcbe58;
  --background-color: #fff0e0;
  --header-color: #f7d0d0;
  --text-color: #5a1c41;
  --product-card-color: #f7b382;
  --image-background-color: #f78a52;
}

:root[data-theme="light/yellow-lighter"] {
  --primary-color: #F4CF48;
  --accent-color: #fcf358;
  --background-color: #fffbe0;
  --header-color: #f7f0d0;
  --text-color: #5a1c41;
  --product-card-color: #f7f0a2;
  --image-background-color: #f7e272;
}

:root[data-theme="light/yellow-darker"] {
  --primary-color: #E4B32C;
  --accent-color: #fcf358;
  --background-color: #fffbe0;
  --header-color: #f7f0d0;
  --text-color: #5a1c41;
  --product-card-color: #f7e382;
  --image-background-color: #f7d052;
}

:root[data-theme="light/lime-lighter"] {
  --primary-color: #4CD964;
  --accent-color: #58fc9e;
  --background-color: #e0fde0;
  --header-color: #d0f7d0;
  --text-color: #1c5a41;
  --product-card-color: #a2f7a2;
  --image-background-color: #72f772;
}

:root[data-theme="light/lime-darker"] {
  --primary-color: #32E45D;
  --accent-color: #58fc9e;
  --background-color: #e0fde0;
  --header-color: #d0f7d0;
  --text-color: #1c5a41;
  --product-card-color: #82f782;
  --image-background-color: #52f752;
}

:root[data-theme="light/aquamarine-lighter"] {
  --primary-color: #48F4CF;
  --accent-color: #58fcf3;
  --background-color: #e0ffff;
  --header-color: #d0f7f7;
  --text-color: #1c5a5a;
  --product-card-color: #a2f7f7;
  --image-background-color: #72f7f7;
}

:root[data-theme="light/aquamarine-darker"] {
  --primary-color: #2CE4B3;
  --accent-color: #58fcf3;
  --background-color: #e0ffff;
  --header-color: #d0f7f7;
  --text-color: #1c5a5a;
  --product-card-color: #82f7f7;
  --image-background-color: #52f7f7;
}

:root[data-theme="light/teal-lighter"] {
  --primary-color: #48D9F4;
  --accent-color: #58fcfc;
  --background-color: #e0f7ff;
  --header-color: #d0f0f7;
  --text-color: #1c5a5a;
  --product-card-color: #a2f7f7;
  --image-background-color: #72f7f7;
}

:root[data-theme="light/teal-darker"] {
  --primary-color: #32E4E4;
  --accent-color: #58fcfc;
  --background-color: #e0f7ff;
  --header-color: #d0f0f7;
  --text-color: #1c5a5a;
  --product-card-color: #82f7f7;
  --image-background-color: #52f7f7;
}

:root[data-theme="light/blue-lighter"] {
  --primary-color: #48A4F4;
  --accent-color: #58b8fc;
  --background-color: #e0f0ff;
  --header-color: #d0e0f7;
  --text-color: #1c5a5a;
  --product-card-color: #a2d0f7;
  --image-background-color: #72b8f7;
}

:root[data-theme="light/blue-darker"] {
  --primary-color: #328CE4;
  --accent-color: #58b8fc;
  --background-color: #e0f0ff;
  --header-color: #d0e0f7;
  --text-color: #1c5a5a;
  --product-card-color: #82b8f7;
  --image-background-color: #529cf7;
}

:root[data-theme="light/purple-lighter"] {
  --primary-color: #8C48F4;
  --accent-color: #b858fc;
  --background-color: #f0e0ff;
  --header-color: #e0d0f7;
  --text-color: #5a1c5a;
  --product-card-color: #d0a2f7;
  --image-background-color: #b872f7;
}

:root[data-theme="light/purple-darker"] {
  --primary-color: #6E32E4;
  --accent-color: #b858fc;
  --background-color: #f0e0ff;
  --header-color: #e0d0f7;
  --text-color: #5a1c5a;
  --product-card-color: #b882f7;
  --image-background-color: #9852f7;
}

:root[data-theme="light/pink-lighter"] {
  --primary-color: #E53FA3;
  --accent-color: #fc62be;
  --background-color: #fae0ef;
  --header-color: #f7d0d0;
  --text-color: #5a1c41;
  --product-card-color: #f7add9;
  --image-background-color: #f080c3;
}

:root[data-theme="light/pink-darker"] {
  --primary-color: #911157;
  --accent-color: #fc62be;
  --background-color: #fae0ef;
  --header-color: #f7d0d0;
  --text-color: #5a1c41;
  --product-card-color: #f7add9;
  --image-background-color: #f080c3;
}

:root[data-theme="dark/red-lighter"] {
  --primary-color: #E43232;
  --accent-color: #fc5858;
  --background-color: #222222;
  --header-color: #181818;
  --text-color: #EEEEEE;
  --product-card-color: #363636;
  --image-background-color: #525252;
}

:root[data-theme="dark/red-darker"] {
  --primary-color: #961b1b;
  --accent-color: #fc5858;
  --background-color: #222222;
  --header-color: #181818;
  --text-color: #EEEEEE;
  --product-card-color: #363636;
  --image-background-color: #525252;
}

:root[data-theme="dark/orange-lighter"] {
  --primary-color: #F39628;
  --accent-color: #fcbe58;
  --background-color: #222222;
  --header-color: #181818;
  --text-color: #EEEEEE;
  --product-card-color: #363636;
  --image-background-color: #525252;
}

:root[data-theme="dark/orange-darker"] {
  --primary-color: #E45D32;
  --accent-color: #fcbe58;
  --background-color: #222222;
  --header-color: #181818;
  --text-color: #EEEEEE;
  --product-card-color: #363636;
  --image-background-color: #525252;
}

:root[data-theme="dark/yellow-lighter"] {
  --primary-color: #F4CF48;
  --accent-color: #fcf358;
  --background-color: #222222;
  --header-color: #181818;
  --text-color: #EEEEEE;
  --product-card-color: #363636;
  --image-background-color: #525252;
}

:root[data-theme="dark/yellow-darker"] {
  --primary-color: #837228;
  --accent-color: #fcf358;
  --background-color: #222222;
  --header-color: #181818;
  --text-color: #EEEEEE;
  --product-card-color: #363636;
  --image-background-color: #525252;
}

:root[data-theme="dark/lime-lighter"] {
  --primary-color: #56E432;
  --accent-color: #58fc7c;
  --background-color: #222222;
  --header-color: #181818;
  --text-color: #EEEEEE;
  --product-card-color: #363636;
  --image-background-color: #525252;
}

:root[data-theme="dark/lime-darker"] {
  --primary-color: #107e15;
  --accent-color: #58fc7c;
  --background-color: #222222;
  --header-color: #181818;
  --text-color: #EEEEEE;
  --product-card-color: #363636;
  --image-background-color: #525252;
}

:root[data-theme="dark/aquamarine-lighter"] {
  --primary-color: #00bcd4;
  --accent-color: #58e9fc;
  --background-color: #222222;
  --header-color: #181818;
  --text-color: #EEEEEE;
  --product-card-color: #363636;
  --image-background-color: #525252;
}

:root[data-theme="dark/aquamarine-darker"] {
  --primary-color: #117c58;
  --accent-color: #58e9fc;
  --background-color: #222222;
  --header-color: #181818;
  --text-color: #EEEEEE;
  --product-card-color: #363636;
  --image-background-color: #525252;
}

:root[data-theme="dark/blue-lighter"] {
  --primary-color: #3F71F1;
  --accent-color: #58a8fc;
  --background-color: #222222;
  --header-color: #181818;
  --text-color: #EEEEEE;
  --product-card-color: #363636;
  --image-background-color: #525252;
}

:root[data-theme="dark/blue-darker"] {
  --primary-color: #18347a;
  --accent-color: #58a8fc;
  --background-color: #222222;
  --header-color: #181818;
  --text-color: #EEEEEE;
  --product-card-color: #363636;
  --image-background-color: #525252;
}

:root[data-theme="dark/purple-lighter"] {
  --primary-color: #AC45D0;
  --accent-color: #c058fc;
  --background-color: #222222;
  --header-color: #181818;
  --text-color: #EEEEEE;
  --product-card-color: #363636;
  --image-background-color: #525252;
}

:root[data-theme="dark/purple-darker"] {
  --primary-color: #5021a8;
  --accent-color: #c058fc;
  --background-color: #222222;
  --header-color: #181818;
  --text-color: #EEEEEE;
  --product-card-color: #363636;
  --image-background-color: #525252;
}

:root[data-theme="dark/pink-lighter"] {
  --primary-color: #E53FA3;
  --accent-color: #fc62be;
  --background-color: #222222;
  --header-color: #181818;
  --text-color: #EEEEEE;
  --product-card-color: #363636;
  --image-background-color: #525252;
}

:root[data-theme="dark/pink-darker"] {
  --primary-color: #911157;
  --accent-color: #fc62be;
  --background-color: #222222;
  --header-color: #181818;
  --text-color: #EEEEEE;
  --product-card-color: #363636;
  --image-background-color: #525252;
}

.filter-capsule {
  background-color: var(--product-card-color);
  padding: 0.3rem 1rem;
  border-radius: 50rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
  white-space: nowrap;
  font-weight: 900;
}
.filter-capsule__icon {
  font-size: 0.1rem;
  padding-left: 0.5rem;
}

.fa {
  font-size: 2rem;
}

.icon-button {
  background-color: transparent;
  color: var(--text-color);
  border-radius: 0.5rem 1.45rem;
  padding: 0.5rem 1rem;
  font-size: clamp(0.75rem, 0.6rem + 0.8vw, 1rem);
  font-weight: 700;
  border: none;
}

/* Dropdown Button */
.dropbtn {
  background-color: var(--background-color);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  left: -6rem;
  background-color: var(--product-card-color);
  min-width: 10rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 0.6rem 1.8rem;
  border: 0.3rem solid var(--primary-color);
}

/* Links inside the dropdown */
.dropdown-content a {
  color: var(--primary-color);
  font-weight: bold;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  border-radius: 0.5rem 1.5rem;
  background-color: var(--image-background-color);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3d3d3d;
}

.siteHeader {
  /**
     * Lay out the children of this container with
     * flexbox, which is horizontal by default.
     */
  display: flex;
  /**
     * Make the container put as much space as possible
     * between its children, with the children at either
     * end laying flush against the container's edges.
     */
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--background-color);
}

.siteHeader__section1 {
  /**
       * Lay out the children of this container with
       * flexbox.
       */
  display: flex;
  /**
       * Align the children in the center, along
       * the main axis. By default the children will
       * align along their top edges.
       */
  align-items: center;
}

.siteHeader__item {
  padding: 5px 15px;
  font-size: 12px;
}

.siteHeader__item + .siteHeader__item {
  margin-left: 5px;
}

.siteHeader__item.is-site-header-item-selected {
  color: #FFFFFF;
  background-color: #415F69;
  border-radius: 4px;
}

.siteHeaderLogo {
  font-size: 20px;
  line-height: 0;
  color: white;
}

.siteHeaderButton {
  cursor: pointer;
  color: #D9E9EF;
}

.bar {
  display: block;
  position: relative;
  cursor: pointer;
  width: 50px;
  height: 40px;
}

.bar span {
  position: absolute;
  width: 45px;
  height: 7px;
  background: var(--primary-color);
  border-radius: 100px;
  display: inline-block;
  transition: 0.3s ease;
  left: 0;
}

.bar span.top {
  top: 0;
}

.bar span.middle {
  top: 17px;
}

.bar span.bottom {
  bottom: 0;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  margin-top: 1rem;
  background-color: var(--product-card-color);
  border-radius: 1rem 3rem;
  min-width: 13.5rem;
  max-width: 15rem;
  border-right: 0.5rem solid var(--primary-color);
  border-bottom: 0.5rem solid var(--primary-color);
}
.product-card__image {
  width: 100%;
  background-color: var(--image-background-color);
  border-radius: 0.6666666667rem 2rem;
  aspect-ratio: 1/1.1;
}
.product-card__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.product-card__price {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.6rem;
  top: -1.6rem;
  padding: 0.5rem 1rem;
  margin: 0 1.2rem;
  background-color: var(--background-color);
  color: var(--primary-color);
  font-size: 1.1rem;
  font-weight: 900;
  border-radius: 1rem 3rem;
  border: 0.2rem solid var(--primary-color);
}
.product-card__title {
  position: relative;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 0.3rem;
  font-weight: 600;
  font-size: 1.3rem;
  text-align: center;
  top: -1.6rem;
  color: var(--text-color);
}
.product-card button {
  margin-top: -0.6rem;
  padding: 0.5rem 2rem;
  font-size: 1.1rem;
}

.button {
  border-radius: 1rem 3rem;
  background-color: var(--primary-color);
  color: var(--background-color);
  width: 120px;
  height: 40px;
  border: none;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
}

.button:hover {
  transform: scale(1.2);
  /* added transform property */
}

.text-button {
  background-color: var(--primary-color);
  color: var(--background-color);
  border-radius: 0.5rem 1.45rem;
  padding: 0.5rem 1rem;
  font-size: clamp(0.75rem, 0.6rem + 0.8vw, 1rem);
  font-weight: 700;
  border: none;
}

.button-light {
  border-radius: 1rem 3rem;
  background-color: var(--background-color);
  color: var(--text-color);
  width: auto;
  height: auto;
  text-align: center;
  border: 0.1rem solid var(--text-color);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 300;
}
.button-light:hover {
  background-color: var(--text-color);
  color: var(--background-color);
}
.button-light--active {
  background-color: var(--text-color);
  color: var(--background-color);
}

.field {
  border-radius: 1rem 3rem;
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 1.2rem;
  width: 18.75rem;
  height: 2rem;
  text-align: center;
  border: 0.2rem solid var(--primary-color);
}
.field:focus {
  border: 0.2rem solid var(--text-color);
  outline: none;
}

.signin {
  gap: 100px;
  padding-right: 2rem;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
}
@media (min-width: 43.75em) {
  .signin {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 56.25em) {
  .signin {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 90em) {
  .signin {
    grid-template-columns: repeat(2, 1fr);
  }
}
.signin__column1__welcome {
  display: flex;
  justify-content: center;
  align-items: center;
}
.signin__column1__welcome h1 {
  margin-bottom: 50px;
  font-weight: bold;
  color: var(--primary-color);
  font-size: 35px;
}
.signin__column1__field {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.signin__column1__button {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.signin__column1__button a {
  width: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signin__image {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  text-align: right;
  /* added */
}
@media (max-width: 43.74875em) {
  .signin__image {
    display: none;
  }
}
.signin__image .circle1 {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #E53FA3;
  bottom: 50%;
  left: 35%;
  transform: translate(-350%, -50%);
}
.signin__image .circle2 {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #F3ED39;
  bottom: 70%;
  left: 35%;
  transform: translate(-230%, -20%);
}
.signin__image .circle4 {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #E53FA3;
  bottom: 0%;
  right: 100%;
  transform: translate(50%, 50%);
}
.signin__image .circle5 {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #6636ED;
  top: 15%;
  right: 2.5%;
  transform: translate(25%, -25%);
}
.signin__image .circle6 {
  position: absolute;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #F3ED39;
  top: 50%;
  right: 0%;
  transform: translate(50%, -50%);
}
.signin__image .circle7 {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #638CF4;
  bottom: 20%;
  left: -5%;
  transform: translate(50%, 25%);
}
.signin__image .circle8 {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #E53FA3;
  bottom: 20%;
  right: 0%;
  transform: translate(-50%, -55%);
}
.signin__image img {
  width: 35vw;
  border-radius: 50px;
  margin-right: 55px;
}

.signin {
  gap: 100px;
  padding-right: 2rem;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
}
@media (min-width: 43.75em) {
  .signin {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 56.25em) {
  .signin {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 90em) {
  .signin {
    grid-template-columns: repeat(2, 1fr);
  }
}
.signin__column1__welcome {
  display: flex;
  justify-content: center;
  align-items: center;
}
.signin__column1__welcome h1 {
  margin-bottom: 50px;
  font-weight: bold;
  color: var(--primary-color);
  font-size: 35px;
}
.signin__column1__field {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.signin__column1__forgot {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.signin__column1__forgot a {
  color: var(--primary-color);
  font-size: 1rem;
}
.signin__column1__button {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  align-items: flex-end;
}
.signin__image {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  text-align: right;
  /* added */
}
@media (max-width: 43.74875em) {
  .signin__image {
    display: none;
  }
}
.signin__image .circle1 {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #E53FA3;
  bottom: 50%;
  left: 35%;
  transform: translate(-350%, -50%);
}
.signin__image .circle2 {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #F3ED39;
  bottom: 70%;
  left: 35%;
  transform: translate(-230%, -20%);
}
.signin__image .circle4 {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #E53FA3;
  bottom: 0%;
  right: 100%;
  transform: translate(50%, 50%);
}
.signin__image .circle5 {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #6636ED;
  top: 15%;
  right: 2.5%;
  transform: translate(25%, -25%);
}
.signin__image .circle6 {
  position: absolute;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #F3ED39;
  top: 50%;
  right: 0%;
  transform: translate(50%, -50%);
}
.signin__image .circle7 {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #638CF4;
  bottom: 20%;
  left: -5%;
  transform: translate(50%, 25%);
}
.signin__image .circle8 {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #E53FA3;
  bottom: 20%;
  right: 0%;
  transform: translate(-50%, -55%);
}
.signin__image img {
  width: 35vw;
  border-radius: 50px;
  margin-right: 55px;
}

.signup {
  gap: 100px;
  padding-right: 2rem;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
}
@media (min-width: 43.75em) {
  .signup {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 56.25em) {
  .signup {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 90em) {
  .signup {
    grid-template-columns: repeat(2, 1fr);
  }
}
.signup__column1__now {
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup__column1__now h1 {
  margin-bottom: 5px;
  font-weight: bold;
  color: var(--primary-color);
  font-size: 35px;
}
.signup__column1__later {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.signup__column1__later h1 {
  margin-bottom: 40px;
  margin-right: 50px;
  font-weight: bold;
  color: var(--primary-color);
  font-size: 30px;
}
.signup__column1__field {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.signup__column1__button {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.signup__column1__button a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup__image {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  text-align: right;
  /* added */
}
@media (max-width: 43.74875em) {
  .signup__image {
    display: none;
  }
}
.signup__image .circle1 {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #E53FA3;
  bottom: 50%;
  left: 35%;
  transform: translate(-350%, -50%);
}
.signup__image .circle2 {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #F3ED39;
  bottom: 70%;
  left: 35%;
  transform: translate(-230%, -20%);
}
.signup__image .circle4 {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #E53FA3;
  bottom: 0%;
  right: 100%;
  transform: translate(50%, 50%);
}
.signup__image .circle5 {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #6636ED;
  top: 15%;
  right: 2.5%;
  transform: translate(25%, -25%);
}
.signup__image .circle6 {
  position: absolute;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #F3ED39;
  top: 50%;
  right: 0%;
  transform: translate(50%, -50%);
}
.signup__image .circle7 {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #638CF4;
  bottom: 20%;
  left: -5%;
  transform: translate(50%, 25%);
}
.signup__image .circle8 {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #E53FA3;
  bottom: 20%;
  right: 0%;
  transform: translate(-50%, -55%);
}
.signup__image img {
  width: 35vw;
  border-radius: 50px;
  margin-right: 55px;
}

.filter {
  display: flex;
  justify-content: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  gap: 0.8rem;
}
.filter__section1 {
  display: flex;
  grid-gap: 4rem;
  justify-content: center;
  background-color: var(--background-color);
  width: 100%;
  padding-bottom: 2rem;
}
@media (max-width: 56.24875em) {
  .filter__section1 {
    grid-gap: 1rem;
  }
}
@media (max-width: 43.74875em) {
  .filter__section1 {
    flex-direction: column;
  }
}
.filter__section1__column1 {
  justify-self: center;
}
.filter__section1__column1 h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
@media (max-width: 43.74875em) {
  .filter__section1__column1 h1 {
    margin-inline: auto;
    width: 70%;
  }
}
.filter__section1__column1__buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 0.6rem;
  justify-items: center;
}
.filter__section1__column1__buttons button {
  align-self: start;
}
@media (max-width: 56.24875em) {
  .filter__section1__column1__buttons {
    grid-template-columns: repeat(2, 1fr);
  }
}
.filter__section1__column2 {
  justify-self: center;
}
.filter__section1__column2 h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
@media (max-width: 43.74875em) {
  .filter__section1__column2 h1 {
    margin-inline: auto;
    width: 70%;
  }
}
.filter__section1__column2__buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 0.6rem;
  justify-items: center;
}
.filter__section1__column2__buttons button {
  align-self: start;
}
@media (max-width: 56.24875em) {
  .filter__section1__column2__buttons {
    grid-template-columns: repeat(2, 1fr);
  }
}
.filter__section2 {
  justify-self: center;
  padding-left: 1rem;
  background-color: var(--header-color);
  padding-top: 1rem;
  padding-bottom: 2rem;
}
@media (max-width: 43.74875em) {
  .filter__section2 {
    padding-left: 0.5rem;
  }
}
.filter__section2__price h4 {
  font-weight: lighter;
  display: inline-block;
  vertical-align: middle;
  color: var(--primary-color);
  width: 7rem;
}
@media (max-width: 43.74875em) {
  .filter__section2__price h4 {
    width: 5.7rem;
  }
}
.filter__section2__price__options {
  display: inline-block;
  vertical-align: middle;
}
.filter__section2__price__options input {
  width: 8rem;
  margin-right: 1rem;
}
@media (max-width: 43.74875em) {
  .filter__section2__price__options input {
    width: 4rem;
    margin-right: 0;
  }
}
.filter__section2__price .unit {
  margin-left: 0.1rem;
  width: auto;
}
.filter__section2__autonomy h4 {
  font-weight: lighter;
  display: inline-block;
  vertical-align: middle;
  color: var(--primary-color);
  width: 7rem;
}
@media (max-width: 43.74875em) {
  .filter__section2__autonomy h4 {
    width: 5.7rem;
  }
}
.filter__section2__autonomy__options {
  display: inline-block;
  vertical-align: middle;
}
.filter__section2__autonomy__options input {
  width: 8rem;
  margin-right: 1rem;
}
@media (max-width: 43.74875em) {
  .filter__section2__autonomy__options input {
    width: 4rem;
    margin-right: 0;
  }
}
.filter__section2__autonomy .unit {
  margin-left: 0.1rem;
  width: auto;
}
.filter__section2__color {
  display: flex;
  align-items: baseline;
}
.filter__section2__color h4 {
  font-weight: lighter;
  color: var(--primary-color);
  width: 7rem;
}
@media (max-width: 43.74875em) {
  .filter__section2__color h4 {
    padding-right: 1rem;
  }
}
.filter__section2__color__options {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 0.5rem;
}
.filter__section2__color__options .button-light {
  margin-right: 0.5rem;
  font-size: 1rem;
  font-weight: 300;
}
@media (max-width: 43.74875em) {
  .filter__section2__color__options {
    overflow-x: hidden;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
}
.filter__section2__model {
  display: flex;
  align-items: baseline;
}
.filter__section2__model h4 {
  font-weight: lighter;
  display: inline-block;
  color: var(--primary-color);
  width: 7rem;
}
@media (max-width: 43.74875em) {
  .filter__section2__model h4 {
    padding-right: 0.8rem;
  }
}
.filter__section2__model__options {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 0.5rem;
}
.filter__section2__model__options .button-light {
  margin-right: 0.5rem;
  font-size: 1rem;
  font-weight: 300;
}
@media (max-width: 43.74875em) {
  .filter__section2__model__options {
    overflow-x: hidden;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
}
.filter__section2__apply-changes {
  display: flex;
  margin-inline: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1rem;
}

.products-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}
@media (min-width: 43.75em) {
  .products-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 56.25em) {
  .products-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 90em) {
  .products-list {
    grid-template-columns: repeat(6, 1fr);
  }
}

.search {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 1rem;
  background-color: var(--background-color);
  z-index: 1;
}
.search .field {
  width: 80%;
  justify-self: center;
  margin: 0 auto;
}
.search .filters {
  top: 0;
  padding-top: 1rem;
  padding-left: 1rem;
  background-color: var(--background-color);
  margin-left: 5%;
  margin-right: calc(5% + 3rem);
  margin-bottom: 1rem;
}
.search .filters__icon {
  position: absolute;
  color: var(--text-color);
}
.search .filters__row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  overflow-x: auto;
  margin-left: 3rem;
}
@media (max-width: 43.74875em) {
  .search .field {
    width: 90%;
  }
  .search .filters {
    margin-left: 0;
    margin-right: 1rem;
  }
}

.product-details {
  padding-top: 1.5rem;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
}
@media (min-width: 56.25em) {
  .product-details {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
}
.product-details__image {
  position: relative;
  background-color: var(--image-background-color);
  border-radius: 1rem 3rem;
  max-height: 65vh;
}
.product-details__image img {
  max-height: 65vh;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1/0.75;
}
.product-details__label {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.5rem 1rem;
  margin: 1rem 2rem;
  background-color: var(--primary-color);
  color: var(--background-color);
  font-size: 1.2rem;
  font-weight: 900;
  border-radius: 1rem 3rem;
  border: 0.16rem solid var(--background-color);
}
.product-details__title {
  width: 95%;
  margin-top: 1rem;
  margin-bottom: 0.3rem;
  font-weight: 900;
  text-align: center;
  color: var(--text-color);
}
.product-details__review {
  width: 95%;
  font-weight: 400;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.product-details__review-stars {
  margin-right: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: goldenrod;
  gap: 0.2rem;
}
.product-details__review-details {
  font-size: 1.1rem;
  color: var(--image-background-color);
}
.product-details__buy {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 3rem;
  gap: 1.1rem;
  margin-top: 1rem;
}
.product-details__buy-text {
  font-size: 1.4rem;
  font-weight: 900;
}
.product-details__more {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
.product-details__more-share {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  height: 3rem;
  gap: 1rem;
  border: 0.2rem solid var(--primary-color);
  background-color: var(--background-color);
  color: var(--primary-color);
  flex: 1;
}
.product-details__more-share:hover {
  background-color: var(--product-card-color);
  color: var(--accent-color);
  border-color: var(--accent-color);
}
.product-details__more-wishlist {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  height: 3rem;
  gap: 1rem;
  border: 0.2rem solid var(--primary-color);
  background-color: var(--background-color);
  color: var(--primary-color);
  flex: 2;
}
.product-details__more-wishlist:hover {
  background-color: var(--product-card-color);
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.similar {
  padding-top: 1rem;
  padding-left: 1rem;
  width: 95%;
  margin: 1rem;
}
.similar__text {
  font-size: 1.6rem;
  font-weight: 900;
  text-align: start;
  color: var(--text-color);
}
.similar__products {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  padding-bottom: 0.5rem;
  overflow-x: auto;
}

.table {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2rem;
}
.table__header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 0.1rem 0;
  border-radius: 1rem 3rem;
  background-color: var(--product-card-color);
  height: 2rem;
  background-color: var(--primary-color);
  margin-top: 0;
  margin-bottom: 0.6rem;
  height: 3rem;
}
.table__header__title {
  display: flex;
  align-items: center;
  flex: 1;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: left;
  margin: 0 0.5rem;
  height: 100%;
  font-weight: 900;
  border-right: 0.2rem solid var(--background-color);
  margin-left: 1rem;
  color: var(--primary-color);
}
.table__header__value {
  display: flex;
  align-items: center;
  flex: 1;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: left;
  margin: 0 0.5rem;
  height: 100%;
  color: var(--text-color);
}
.table__header__title, .table__header__value {
  color: var(--background-color);
}
.table__header__title {
  border-right: 0.2rem solid var(--background-color);
}
.table__row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 0.1rem 0;
  border-radius: 1rem 3rem;
  background-color: var(--product-card-color);
  height: 2rem;
}
.table__row__title {
  display: flex;
  align-items: center;
  flex: 1;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: left;
  margin: 0 0.5rem;
  height: 100%;
  font-weight: 900;
  border-right: 0.2rem solid var(--background-color);
  margin-left: 1rem;
  color: var(--primary-color);
}
.table__row__value {
  display: flex;
  align-items: center;
  flex: 1;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: left;
  margin: 0 0.5rem;
  height: 100%;
  color: var(--text-color);
}

.about {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.about__section1 {
  background-color: var(--primary-color);
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
}
@media (min-width: 43.75em) {
  .about__section1 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 56.25em) {
  .about__section1 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 90em) {
  .about__section1 {
    grid-template-columns: repeat(2, 1fr);
  }
}
.about__section1__writing {
  margin-right: 1rem;
}
@media (min-width: 43.75em) {
  .about__section1__writing {
    margin-top: 2rem;
  }
}
@media (min-width: 43.75em) {
  .about__section1__writing {
    margin-top: 3rem;
  }
}
@media (min-width: 43.75em) {
  .about__section1__writing {
    margin-top: 4rem;
  }
}
.about__section1__writing h1,
.about__section1__writing h2 {
  padding-left: 1rem;
  font-weight: bold;
  font-size: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.about__section1__writing button {
  margin-top: 2rem;
  margin-left: 8rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 43.75em) {
  .about__section1__writing button {
    margin-top: 3rem;
    margin-left: 6rem;
  }
}
@media (min-width: 56.25em) {
  .about__section1__writing button {
    margin-top: 5rem;
    margin-left: 10rem;
  }
}
@media (min-width: 90em) {
  .about__section1__writing button {
    margin-top: 6rem;
    margin-left: 12rem;
  }
}
.about__section1__image {
  padding-right: 5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
@media (max-width: 43.74875em) {
  .about__section1__image {
    display: none;
  }
}
.about__section1__image__square {
  border-radius: 1rem 1rem;
  width: 30rem;
  height: 35rem;
  background-color: rgba(255, 255, 255, 0.091);
  display: flex;
  justify-content: center;
  align-items: center;
}
.about__section1__image__square .circle1about {
  position: absolute;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: rgba(253, 251, 252, 0.3647058824);
  top: 15%;
  right: 2.5%;
  transform: translate(-120%, 35%);
}
@media (max-width: 56.24875em) {
  .about__section1__image__square .circle1about {
    display: none;
  }
}
.about__section1__image__square .circle2about {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(253, 251, 252, 0.3647058824);
  bottom: 50%;
  left: 35%;
  transform: translate(-160%, -120%);
}
@media (max-width: 56.24875em) {
  .about__section1__image__square .circle2about {
    display: none;
  }
}
.about__section1__image__square img {
  position: relative;
  border-radius: 3rem 3rem;
  max-width: 75%;
  max-height: 75%;
  -o-object-fit: contain;
     object-fit: contain;
}
.about__section2 {
  background-color: var(--background-color);
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
}
@media (min-width: 56.25em) {
  .about__section2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 90em) {
  .about__section2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
.about__section2__writing1 h4 {
  color: var(--primary-color);
  padding-left: 1rem;
  font-weight: bold;
  font-size: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.about__section2__writing1 img {
  width: 100%;
  padding-bottom: 2rem;
  padding-left: 2rem;
  position: relative;
  border-radius: 3rem 3rem;
  max-width: 75%;
  max-height: 75%;
}
.about__section2__writing2 h4 {
  font-size: 12px;
  padding-right: 2rem;
  padding-left: 2rem;
  display: flex;
  justify-content: flex-centered;
  align-items: center;
}
@media (min-width: 43.75em) {
  .about__section2__writing2 h4 {
    font-size: 16px;
  }
}
@media (min-width: 56.25em) {
  .about__section2__writing2 h4 {
    font-size: 18px;
  }
}
@media (min-width: 90em) {
  .about__section2__writing2 h4 {
    font-size: 20px;
  }
}

.help-layout {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin: 1rem;
  margin-bottom: 3rem;
}
.help-layout .section {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.help-layout .section__title {
  background-color: var(--primary-color);
  color: var(--background-color);
  font-size: 3rem;
  padding: 1rem;
  padding-left: 2.8rem;
  font-weight: 600;
  border-radius: 1rem 3rem;
}
@media (max-width: 89.99875em) {
  .help-layout .section__title {
    font-size: 2.5rem;
  }
}
@media (max-width: 56.24875em) {
  .help-layout .section__title {
    font-size: 2rem;
  }
}
@media (max-width: 43.74875em) {
  .help-layout .section__title {
    font-size: 1.5rem;
    border-radius: 0.8rem 2.4rem;
    padding-left: 1.5rem;
  }
}
.help-layout .section__content {
  display: flex;
}
.help-layout .section__content-line {
  margin-top: -1rem;
  margin-left: 3rem;
  margin-right: 1rem;
  width: 1rem;
  background-color: var(--primary-color);
  border-radius: 0 0 50rem 50rem;
}
@media (max-width: 43.74875em) {
  .help-layout .section__content-line {
    margin-left: 1.5rem;
    width: 0.5rem;
  }
}
.help-layout .section__content-text {
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-right: 2rem;
  font-size: 1.7rem;
  width: calc(100% - 4rem);
  line-height: 1.3;
}
.help-layout .section__content-text strong {
  color: var(--primary-color);
}
.help-layout .section__content-text ul {
  list-style-type: disc;
  margin-left: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-left: 0;
}
.help-layout .section__content-text ol {
  margin-bottom: 0rem;
}
@media (max-width: 89.99875em) {
  .help-layout .section__content-text {
    font-size: 1.4rem;
  }
}
@media (max-width: 56.24875em) {
  .help-layout .section__content-text {
    font-size: 1.2rem;
  }
}
@media (max-width: 43.74875em) {
  .help-layout .section__content-text {
    font-size: 1rem;
    width: calc(100% - 2rem);
  }
}

.menu-btn {
  position: absolute;
  z-index: 1;
  right: 1rem;
  top: 1rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
}
.menu-btn__burger {
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 28px;
  height: 3px;
  background: #E53FA3;
}
.menu-btn__burger::before {
  content: "";
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3px;
  background: #E53FA3;
}
.menu-btn__burger::after {
  content: "";
  position: absolute;
  top: 8px;
  width: 28px;
  height: 3px;
  background: #E53FA3;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.theme-layout__brightness {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}
.theme-layout__brightness__tab {
  background-color: transparent;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;
  border-radius: 0.2rem;
  color: var(--text-color);
  font-size: 1.4rem;
  padding: 0.3rem 2rem;
}
@media (max-width: 43.74875em) {
  .theme-layout__brightness__tab {
    font-size: 1rem;
  }
}
.theme-layout__brightness__tab:hover {
  background-color: var(--product-card-color);
}
.theme-layout__brightness__tab.active {
  border-bottom: 0.3rem solid var(--primary-color);
}
.theme-layout__preview {
  border: 0.4rem solid var(--primary-color);
  border-radius: 1.2rem 4.5rem;
  padding: 2rem;
  padding-top: 1rem;
  margin-bottom: 2rem;
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
}
.theme-layout__preview-text {
  margin-top: 3rem;
  text-align: center;
}
.theme-layout__preview__columns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.theme-layout__preview__columns-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}
.theme-layout__preview__columns-left button {
  margin: 0.5rem 0;
  padding: 0.5rem 3rem;
  font-size: 1rem;
}
@media (max-width: 56.24875em) {
  .theme-layout__preview__columns-left .field {
    width: 15rem;
  }
}
@media (max-width: 56.24875em) {
  .theme-layout__preview__columns {
    gap: 2rem;
  }
}
@media (max-width: 43.74875em) {
  .theme-layout__preview__columns {
    flex-direction: column;
  }
}
@media (max-width: 43.74875em) {
  .theme-layout__preview {
    border-width: 0.2rem;
    padding: 0.5rem;
    padding-top: 0rem;
    padding-bottom: 1rem;
    border-radius: 1rem 3.3rem;
  }
}

.color-picker {
  padding-top: 2rem;
}
.color-picker > fieldset {
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.8rem;
}
@media (max-width: 43.74875em) {
  .color-picker > fieldset {
    gap: 1vw;
  }
}
.color-picker input[type=radio] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 3rem;
  height: 2.5rem;
  border-radius: 0.5rem 1.5rem;
  cursor: pointer;
}
@media (max-width: 43.74875em) {
  .color-picker input[type=radio] {
    margin: 0;
    width: 2rem;
    height: 1.8rem;
    border-radius: 0.3333333333rem 1rem;
  }
}

.red-lighter {
  background-color: #E43232;
}

.red-darker {
  background-color: #961b1b;
}

.orange-lighter {
  background-color: #F39628;
}

.orange-darker {
  background-color: #E45D32;
}

.yellow-lighter {
  background-color: #F4CF48;
}

.yellow-darker {
  background-color: #837228;
}

.lime-lighter {
  background-color: #56E432;
}

.lime-darker {
  background-color: #107e15;
}

.aquamarine-lighter {
  background-color: #00bcd4;
}

.aquamarine-darker {
  background-color: #117c58;
}

.blue-lighter {
  background-color: #3F71F1;
}

.blue-darker {
  background-color: #18347a;
}

.purple-lighter {
  background-color: #AC45D0;
}

.purple-darker {
  background-color: #5021a8;
}

.pink-lighter {
  background-color: #f55ab7;
}

.pink-darker {
  background-color: #911157;
}

body {
  background: var(--background-color);
  color: var(--text-color);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
  margin: 0;
}

main {
  height: 100%;
  width: 100%;
}

footer {
  font-size: 1rem;
  position: fixed;
  bottom: 0.4rem;
  right: 1rem;
  text-align: right;
  padding: 1rem;
  color: var(--primary-color);
}

button {
  background: var(--primary-color);
  color: var(--background-color);
  border: none;
  border-radius: 1rem 3rem;
  padding: 0.5rem 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
button:hover {
  background: var(--accent-color);
}/*# sourceMappingURL=main.css.map */