.signin {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 100px;
  padding-right: 2rem;
}
.signin__column1__welcome {
  display: flex;
  justify-content: center;
  align-items: center;
}
.signin__column1__welcome h1 {
  margin-bottom: 100px;
  font-weight: bold;
  color: #E53FA3;
  font-size: 35px;
}
.signin__column1__field {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.signin__column1__forgot {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 100px;
}
.signin__column1__forgot h4 {
  color: #E53FA3;
  font-size: 12px;
}
.signin__column1__button {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  align-items: flex-end;
}
.signin__image {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  text-align: right;
  /* added */
}
.signin__image .circle1 {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #E53FA3;
  bottom: 50%;
  left: 35%;
  transform: translate(-350%, -50%);
}
.signin__image .circle2 {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #F3ED39;
  bottom: 70%;
  left: 35%;
  transform: translate(-230%, -20%);
}
.signin__image .circle3 {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #638CF4;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, 50%);
}
.signin__image .circle4 {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #E53FA3;
  bottom: 0%;
  right: 100%;
  transform: translate(50%, 50%);
}
.signin__image .circle5 {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #6636ED;
  top: 15%;
  right: 2.5%;
  transform: translate(25%, -25%);
}
.signin__image .circle6 {
  position: absolute;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #F3ED39;
  top: 50%;
  right: 0%;
  transform: translate(50%, -50%);
}
.signin__image .circle7 {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #638CF4;
  bottom: 20%;
  left: -5%;
  transform: translate(50%, 25%);
}
.signin__image .circle8 {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #E53FA3;
  bottom: 20%;
  right: 0%;
  transform: translate(-50%, -55%);
}
.signin__image img {
  width: 35vw;
  border-radius: 50px;
  margin-right: 55px;
}

.button {
  border-radius: 8px 36px 8px 36px;
  background-color: #E53FA3;
  color: white;
  width: 120px;
  height: 40px;
  border: #E53FA3;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  transform: scale(1.2);
  /* added transform property */
}

.field {
  border-radius: 8px 36px 8px 36px;
  background-color: white;
  color: #E53FA3;
  width: 300px;
  height: 25px;
  border: 1.5px solid #E53FA3;
}

body {
  font-family: "Inter", sans-serif;
}

.underlined_text {
  text-decoration: underline;
}

.site-header__wrapper {
  display: flex;
  background-color: beige;
  justify-content: space-between;
  align-items: center;
}

/* Dropdown Button */
.dropbtn {
  background-color: #02945f;
  color: white;
  padding: 15px;
  font-size: 1em;
  border: 5px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.label-check {
  display: none;
}

.hamburger-label {
  width: 2.7em;
  height: 2.5em;
  display: block;
  cursor: pointer;
}

.hamburger-label div {
  width: 2.5em;
  height: 0.4em;
  background-color: #fff;
  position: absolute;
}

.line1 {
  transition: all 0.3s;
}

.line2 {
  margin: 18px 0 0 0;
  transition: 0.3s;
}

.line3 {
  margin: 36px 0 0 0;
  transition: 0.3s;
}

#label-check:checked + .hamburger-label .line1 {
  transform: rotate(35deg) scaleX(0.55) translate(39px, -4.5px);
  border-radius: 50px 50px 50px 0;
}

#label-check:checked + .hamburger-label .line3 {
  transform: rotate(-35deg) scaleX(0.55) translate(39px, 4.5px);
  border-radius: 0 50px 50px 50px;
}

#label-check:checked + .hamburger-label .line2 {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 45px;
}

body {
  background: #FFFFFF;
  color: set-text-color(#E53FA3);
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
}

main {
  height: 100%;
  width: 100%;
}

footer {
  font-size: 1rem;
  position: fixed;
  bottom: 0.4rem;
  right: 1rem;
  text-align: right;
  padding: 1rem;
  color: set-text-color(#FFFFFF);
}/*# sourceMappingURL=main.css.map */