@use 'base' as base;
@use 'themes' as theme;
@forward 'components';
@forward 'pages/auth';
@forward 'pages/products';
@forward 'pages/info';
@forward 'pages/settings';

// $colors: (
//     "primary-color": #FFFFFF,
//     "accent-color": #E53FA3
// );

$font-weights: (
    "regular": 400,
    "bold": 700
);

body {
    background: theme.$background-color;
    color: theme.$text-color;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1;
    margin: 0 min(1rem, 2%);
}

main {
    height: 100%;
    width: 100%;
}

footer {
    font-size: 1rem;
    position: fixed;
    bottom: 0.4rem;
    right: 1rem;
    text-align: right;
    padding: 1rem;
    color: theme.$primary-color;
}

button {
    background: theme.$primary-color;
    color: theme.$background-color;
    border: none;
    border-radius: base.$small-border-radius base.$big-border-radius;
    padding: 0.5rem 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
        background: theme.$accent-color;
    }
}