// Variables for colors
$primary-color: #00bcd4;
$accent-color: #58e9fc;
$header-color: #181818;
$background-color: #222222;
$product-card-color: #363636;
$image-background-color: #525252;
$text-color: #ffffff;

$theme: (
  'primary-color': $primary-color,
  'accent-color': $accent-color,
  'header-color': $header-color,
  'background-color': $background-color,
  'product-card-color': $product-card-color,
  'image-background-color': $image-background-color,
  'text-color': $text-color,
);

// Dark mode styles
body {
  background-color: $background-color;
  color: $text-color;
}

// Headings
h1, h2, h3, h4, h5, h6 {
  color: $text-color;
}

// Links
a {
  color: $primary-color;

  &:hover {
    color: lighten($primary-color, 10%);
  }
}
