@use '../../themes' as theme;

.filter {
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: theme.$primary-color;

    &__section1 {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr;
        background-color: theme.$background-color;
        height: 50vh;
        width: 100vw;

        &__column1 {
            justify-self: center;

            h1 {

                //justify-self: center;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 60px;
            }

            &__buttons {

                display: grid;
                grid-gap: auto;
                grid-template-columns: repeat(3, 1fr);
                grid-row-gap: 10px;
                justify-items: center;

                button {
                    align-self: start;

                }
            }
        }

        &__column2 {

            justify-self: center;

            h1 {

                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 60px;
            }


            &__buttons {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-row-gap: 10px;
                justify-items: center;

                button {
                    align-self: start;
                }

            }


        }


    }

    &__section2 {
        padding-left: 10px;
        background-color: theme.$header-color;
        height: 50vh;
        width: 100vw;

        &__price {


            h4 {

                font-weight: lighter;
                display: inline-block;
                vertical-align: middle;
                color: theme.$primary-color;
            }

            &__options {
                margin-left: 20px;
                display: inline-block;
                vertical-align: middle;



            }

        }

        &__autonomy {
            h4 {
                font-weight: lighter;
                display: inline-block;
                vertical-align: middle;
                color: theme.$primary-color;
            }

            &__options {
                margin-left: 20px;
                display: inline-block;
                vertical-align: middle;



            }
        }

        &__color {
            display: flex;
            align-items: center;

            h4 {


                font-weight: lighter;
                color: theme.$primary-color;
            }

            &__options {
                display: flex;
                overflow-x: auto;
                margin-left: 20px;
                white-space: nowrap;

            }

        }

        &__model {

            display: flex;
            align-items: center;

            h4 {
                font-weight: lighter;
                display: inline-block;
                color: theme.$primary-color;
            }

            &__options {
                display: flex;
                overflow-x: auto;
                margin-left: 20px;
                overflow-x: auto;
                white-space: nowrap;


            }
        }

        .button {
            display: block;
            margin: auto;
            margin-top: 15px;

        }
    }

}