/*hide the inputs/checkmarks and submenu*/
// input, ul.submenu {
//     display: none;
//   }
  
/*position the label*/
label {
  position: relative;
  display: block;
  cursor: pointer;
}

/*show the submenu when input is checked*/
// input:checked~ul.submenu {
//   display: block;
// }
