@use '../themes/' as theme;
@use '../base' as base;

/* Dropdown Button */
.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  left: -6rem;
  background-color: var(--product-card-color);
  min-width: 10rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 10;
  border-radius: calc(base.$small-border-radius*0.6) calc(base.$big-border-radius*0.6);
  border: 0.3rem solid var(--primary-color);
}

/* Links inside the dropdown */
.dropdown-content a {
  color: var(--primary-color);
  font-weight: bold;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  border-radius: calc(base.$small-border-radius*0.5) calc(base.$big-border-radius*0.5);
  background-color: var(--image-background-color);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.siteHeader {
  display: flex;

  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.siteHeader__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--primary-color);
        border-radius: 50%;
        width: 3.5rem;
        height: 3.5rem;
        
        h1 {
          font-size: 2.5rem;
          color: var(--header-color);
        }
      }
  
    h2 {
      font-size: 2rem;
      color: var(--text-color);
      margin-left: 1rem;
    }
}

.siteHeader__item {
  padding: 5px 15px;
  font-size: 12px;
}

.siteHeader__item+.siteHeader__item {
  margin-left: 5px;
}

.siteHeader__item.is-site-header-item-selected {
  color: #FFFFFF;
  background-color: #415F69;
  border-radius: 4px;
}

.siteHeaderLogo {
  font-size: 20px;
  line-height: 0;
  color: white;
}

.siteHeaderButton {
  cursor: pointer;
  color: #D9E9EF;
}

.bar {
  display: block;
  position: relative;
  cursor: pointer;
  width: 50px;
  height: 40px;
}

.bar span {
  position: absolute;
  width: 45px;
  height: 7px;
  background: var(--primary-color);
  border-radius: 100px;
  display: inline-block;
  transition: 0.3s ease;
  left: 0;
}

.bar span.top {
  top: 0;
}

.bar span.middle {
  top: 17px;
}

.bar span.bottom {
  bottom: 0;
}