@use '../themes' as theme;

.text-button {
    background-color: theme.$primary-color;
    color: theme.$background-color;
    border-radius: 0.5rem 1.45rem;
    padding: 0.5rem 1rem;
    font-size: clamp(0.75rem, 0.6rem + 0.8vw, 1rem);
    font-weight: 700;
    border: none;
}