$button-top-left-corner-radius: 8px;
$button-top-right-corner-radius: 36px;
$button-bottom-right-corner-radius: 8px;
$button-bottom-left-corner-radius: 36px;


.field {
    border-radius: $button-top-left-corner-radius $button-top-right-corner-radius $button-bottom-right-corner-radius $button-bottom-left-corner-radius;
    background-color: #FFFF;
    color: #E53FA3;
    width: 300px;
    height: 25px;
    border: 1.5px solid #E53FA3;

}