@use '../base' as base;
@use '../themes' as theme;

.field {
    border-radius: base.$small-border-radius base.$big-border-radius;
    background-color: theme.get-background-color();
    color: theme.get-text-color();
    font-size: 1.2rem;
    width: 18.75rem;
    height: 2rem;
    text-align: center;
    border: 0.2rem solid theme.get-primary-color();
    
    // this is on a input component which is treated as a text field
    // change the border color when the input is focused
    &:focus {
        border: 0.2rem solid theme.get-text-color();
        outline: none;
    }
}