@use '../base' as base;
@use '../themes' as theme;

.field {
    border-radius: base.$small-border-radius base.$big-border-radius;
    background-color: theme.$background-color;
    color: theme.$primary-color;
    width: 300repx;
    height: 25px;
    text-align: center;
    border: 1.5px solid theme.$primary-color;
}