@use '../themes' as theme;
@use '../base' as base;

.button {
    border-radius: base.$small-border-radius base.$big-border-radius;
    background-color: theme.get-primary-color();
    color: theme.get-background-color();
    width: 120px;
    height: 40px;
    border: none;
    transition: all 0.3s ease-in-out;
    font-weight: bold;
}

.button:hover {
    transform: scale(1.2);
    /* added transform property */
}

.text-button {
    background-color: theme.get-primary-color();
    color: theme.get-background-color();
    border-radius: 0.5rem 1.45rem;
    padding: 0.5rem 1rem;
    font-size: clamp(0.75rem, 0.6rem + 0.8vw, 1rem);
    font-weight: 700;
    border: none;
}