@use '../../base' as base;
@use '../../themes' as theme;
@use '../../utils' as utils;

.theme-layout {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    &__brightness {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 1rem;

        &__tab {
            background-color: transparent;
            font-weight: bold;
            cursor: pointer;
            transition: background-color 0.2s ease;
            border-radius: 0.2rem;
            color: theme.get-text-color();
            font-size: 1.4rem;
            padding: 0.3rem 2rem;

            @include utils.breakpoint-down(small) {
                font-size: 1rem;
            }

            &:hover {
                background-color: theme.get-product-card-color();
            }

            &.active {
                border-bottom: 0.3rem solid theme.get-primary-color();
            }
        }
    }

    &__colors {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 2rem;
        padding-bottom: 1rem;
        gap: 0.8rem;

        button {
            width: 3rem;
            height: 2.5rem;
            border-radius: calc(base.$small-border-radius/2) calc(base.$big-border-radius/2);
        }
        
        @mixin colors-row {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;

            @include utils.breakpoint-down(small) {
                gap: 1vw;
            }
        }
        
        &-lighter {
            @include colors-row;
            
            .red {
                background-color: #E43232;
            }
            .orange {
                background-color: #F39628;
            }
            .yellow {
                background-color: #F4CF48;
            }
            .lime {
                background-color: #56E432;
            }
            .aquamarine {
                background-color: #00bcd4;
            }
            .blue {
                background-color: #3F71F1;
            }
            .purple {
                background-color: #AC45D0;
            }
            .pink {
                background-color: #f55ab7;
            }
        }
        
        &-darker {
            @include colors-row;
            
            .red {
                background-color: #961b1b;
            }
            .orange {
                background-color: #E45D32;
            }
            .yellow {
                background-color: #837228;
            }
            .lime {
                background-color: #107e15;
            }
            .aquamarine {
                background-color: #117c58;
            }
            .blue {
                background-color: #18347a;
            }
            .purple {
                background-color: rgb(80, 33, 168);
            }
            .pink {
                background-color: rgb(145, 17, 87);
            }
        }
        
        @include utils.breakpoint-down(small) {
            button {
                width: 2.2rem;
                height: 2rem;
                border-radius: calc(base.$small-border-radius/3) calc(base.$big-border-radius/3);
            }
        }
    }

    &__preview {
        border: 0.4rem solid theme.get-primary-color();
        border-radius: calc(base.$small-border-radius*1.2) calc(base.$big-border-radius*1.5);
        padding: 2rem;
        padding-top: 1rem;
        margin-bottom: 2rem;

        &__columns {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 5rem;

            &-left {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                padding: 1rem;

                button {
                    margin: 0.5rem 0;
                    padding: 0.5rem 3rem;
                    font-size: 1rem;
                }

                @include utils.breakpoint-down(medium) {
                    .field {
                        width: 15rem;
                    }
                }
            }

            @include utils.breakpoint-down(medium) {
                gap: 2rem;
            }
    
            @include utils.breakpoint-down(small) {
                flex-direction: column;
            }
        }
        
        @include utils.breakpoint-down(small) {
            border-width: 0.2rem;
            padding: 0.5rem;
            padding-top: 0rem;
            padding-bottom: 1rem;
            border-radius: calc(base.$small-border-radius*1) calc(base.$big-border-radius*1.1);
        }
    }
}