@use '../themes' as theme;
@use '../components' as component;
@use '../utils' as utils;

.products-list {
    background-color: theme.$background-color;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 1.5rem;
    padding-top: 1rem;
    padding-left: clamp(1rem, 5%, 2rem);
    padding-right: clamp(1rem, 5%, 2rem);
    justify-content: center;
    justify-items: center;


    @include utils.breakpoint-up(medium) {
        grid-template-columns: repeat(3, 1fr);
    }

    @include utils.breakpoint-up(large) {
        grid-template-columns: repeat(5, 1fr);
    }

    @include utils.breakpoint-up(xlarge) {
        grid-template-columns: repeat(6, 1fr);
    }
}