<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="../../css/main.css" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Recommendations Feed"
      href="http://localhost:3000/recommandations.xml"
    />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Popularity Feed"
      href="http://localhost:3000/popular-products.xml"
    />
    <title>Gimme</title>
  </head>

  <body>
    <header>
      <div class="siteHeader">
        <!-- This section gets pushed to the left side-->
        <div class="siteHeader__logo">
          <div class="logo">
            <a href="/" class="logo__button">
              <h1>G</h1>
            </a>
          </div>
          <a href="/" class="title__button">
            <h2>GIMME</h2>
          </a>
        </div>
        <!-- This section gets pushed to the right side-->
        <div class="siteHeader__section">
          <div class="dropdown-menu">
            <div class="dropdown">
              <div class="dropbtn">
                <div class="bar">
                  <span class="top"></span>
                  <span class="middle"></span>
                  <span class="bottom"></span>
                </div>
              </div>
              <div class="dropdown-content">
                <a href="../auth/signin.html">Sign In</a>
                <a href="../auth/signup.html">Sign Up</a>
                <a href="../info/about.html">About</a>
                <a href="../products/products.html" id="products-btn"
                  >Products</a
                >
                <a href="../settings/choose-theme.html">Choose theme</a>
                <a href="../info/help.html">Help</a>
              </div>
            </div>
            <ul class="dropdown-content"></ul>
          </div>
        </div>
      </div>
    </header>
    <div class="app">
      <div class="search">
        <input
          id="searchInput"
          class="field"
          placeholder="Search for your product..."
        />
        <div class="admin-buttons">
          <a
            href="add-product.html"
            class="filter__section2__apply-changes adminButton"
            >Add product</a
          >
          <button class="adminButton" onclick="startScraping()">
            Start scraping
          </button>
          <button onclick="downloadProductsJson()">Download Json</button>
          <button onclick="downloadProductsCsv()">Download Csv</button>
        </div>
        <div class="filters">
          <a href="/products/filter.html"
            ><i class="fa fa-sliders filters__icon"></i
          ></a>
          <div class="filters__row">
            <div class="filter-capsule">
              <p>Emag</p>
              <i class="fa fa-times filter-capsule__icon"></i>
            </div>
            <div class="filter-capsule">
              <p>Altex</p>
              <i class="fa fa-times filter-capsule__icon"></i>
            </div>
            <div class="filter-capsule">
              <p>300 - 1200 RON</p>
              <i class="fa fa-times filter-capsule__icon"></i>
            </div>
            <div class="filter-capsule">
              <p>Black</p>
              <i class="fa fa-times filter-capsule__icon"></i>
            </div>
            <div class="filter-capsule">
              <p>Media Galaxy</p>
              <i class="fa fa-times filter-capsule__icon"></i>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="products-list">{%PRODUCT_CARDS%}</div> -->
      <div class="products-list"></div>
      <script src="../../assets/scripts/load-theme.js"></script>
      <script src="../../assets/scripts/filters-products-page.js"></script>
      <!-- <script src="../../controller/productsController.js"></script> -->
      <script src="assets/scripts/products.js"></script>
    </div>
  </body>
</html>
