@use '../../base' as base;
@use '../../themes' as theme;
@use '../../utils' as utils;

.product-details {
    padding-top: 1.5rem;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;

    @include utils.breakpoint-up(large) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }

    &__image {
        position: relative;
        background-color: var(--image-background-color);
        border-radius: base.$small-border-radius base.$big-border-radius;
        max-height: 65vh;
        
        img {
            max-height: 65vh;
            width: 100%;
            height: 100%;
            object-fit: cover;
            aspect-ratio: 1/0.75;
        }
    }


    &__label {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 0.5rem 1rem;
        margin: 1rem 2rem;
        background-color: var(--primary-color);
        color: var(--background-color);
        font-size: 1.2rem;
        font-weight: 900;
        border-radius: base.$small-border-radius base.$big-border-radius;
        border: 0.16rem solid var(--background-color);
    }

    &__title {
        width: 95%;
        margin-top: 1rem;
        margin-bottom: 0.3rem;
        font-weight: 900;
        text-align: center;
        color: var(--text-color);
    }

    &__review {
        width: 95%;
        font-weight: 400;
        text-align: left;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        &-stars {
            margin-right: 0.5rem;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            color: goldenrod;
            gap: 0.2rem;
        }

        &-details {
            font-size: 1.1rem;
            color: var(--image-background-color);
        }
    }

    &__buy {
        width: 95%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 3rem;
        gap: 1.1rem;
        margin-top: 1rem;

        &-text {
            font-size: 1.4rem;
            font-weight: 900;
        }
    }

    &__more {
        width: 95%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        margin-top: 1rem;

        @mixin share-wishlist {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            font-size: 1.1rem;
            height: 3rem;
            gap: 1rem;
            border: 0.2rem solid var(--primary-color);
            background-color: var(--background-color);
            color: var(--primary-color);

            &:hover {
                background-color: var(--product-card-color);
                color: var(--accent-color);
                border-color: var(--accent-color);
            }
        }

        &-share {
            @include share-wishlist;
            flex: 1;
        }

        &-wishlist {
            @include share-wishlist;
            flex: 2;
        }
    }
}

.similar {
    padding-top: 1rem;
    padding-left: 1rem;
    width: 95%;
    margin: 1rem;

    &__text {
        font-size: 1.6rem;
        font-weight: 900;
        text-align: start;
        color: var(--text-color);
    }

    &__products {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
        margin-top: 1rem;
        padding-bottom: 0.5rem;
        overflow-x: auto;
    }
}

.table {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2rem;

    @mixin cell {
        display: flex;
        align-items: center;
        flex: 1;
        font-size: 1.2rem;
        font-weight: 400;
        text-align: left;
        margin: 0 0.5rem;
        height: 100%;
    }

    @mixin line {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        margin: 0.1rem 0;
        border-radius: base.$small-border-radius base.$big-border-radius;
        background-color: var(--product-card-color);
        height: 2rem;

        &__title {
            @include cell;
            font-weight: 900;
            border-right: 0.2rem solid var(--background-color);
            margin-left: 1rem;
            color: var(--primary-color);
        }

        &__value {
            @include cell;
            color: var(--text-color);
        }
    }

    &__header {
        @include line;
        background-color: var(--primary-color);
        margin-top: 0;
        margin-bottom: 0.6rem;
        height: 3rem;
        
        &__title,
        &__value {
            color: var(--background-color);
        }

        &__title {
            border-right: 0.2rem solid var(--background-color);
        }
    }

    &__row {
        @include line;
    }
}