.signup {
    //padding-bottom: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 100px;
    padding-right: 2rem;

    &__column1 {

        &__now {

            display: flex;
            justify-content: center;
            align-items: center;

            h1 {
                margin-bottom: 5px;
                font-weight: bold;
                color: #E53FA3;
                font-size: 35px;
            }
        }

        &__later {

            display: flex;
            justify-content: flex-end;
            align-items: center;

            h1 {
                margin-bottom: 40px;
                margin-right: 50px;
                font-weight: bold;
                color: #E53FA3;
                font-size: 30px;
            }
        }

        &__field {
            margin-top: 10px;
            margin-bottom: 10px;
            display: flex;
            justify-content: center;
            align-items: flex-end;
        }

        &__button {
            display: flex;
            margin-top: 50px;
            justify-content: center;
            align-items: flex-end;
        }
    }



    &__image {

        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        text-align: right;
        /* added */

        .circle1 {
            position: absolute;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #E53FA3;
            bottom: 50%;
            left: 35%;
            transform: translate(-350%, -50%);
        }

        .circle2 {
            position: absolute;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background-color: #F3ED39;
            bottom: 70%;
            left: 35%;
            transform: translate(-230%, -20%);
        }

        .circle3 {
            position: absolute;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-color: #638CF4;
            bottom: 20%;
            left: 50%;
            transform: translate(-50%, 50%);
        }

        .circle4 {
            position: absolute;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background-color: #E53FA3;
            bottom: 0%;
            right: 100%;
            transform: translate(50%, 50%);
        }

        .circle5 {
            position: absolute;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #6636ED;
            top: 15%;
            right: 2.5%;
            transform: translate(25%, -25%);
        }

        .circle6 {
            position: absolute;
            width: 75px;
            height: 75px;
            border-radius: 50%;
            background-color: #F3ED39;
            top: 50%;
            right: 0%;
            transform: translate(50%, -50%);
        }

        .circle7 {
            position: absolute;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-color: #638CF4;
            bottom: 20%;
            left: -5%;
            transform: translate(50%, 25%);
        }

        .circle8 {
            position: absolute;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: #E53FA3;
            bottom: 20%;
            right: 0%;
            transform: translate(-50%, -55%);
        }

        img {
            width: 35vw;
            border-radius: 50px;
            margin-right: 55px;
        }
    }
}